<h1>Listing hotels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Rooms Available</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @hotels.each do |hotel| %>
  <tr>
    <td><%= hotel.name %></td>
    <td><%= hotel.city %></td>
    <td align='center'><%= hotel.rooms_available %></td>    
    <td>$<%= hotel.price %></td>        
    <td><%= link_to 'Show', hotel %></td>
    <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
    <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hotel', new_hotel_path %>
